<div class="sidebar__body__music__item">
  <div class="sidebar__body__music__item__content">
      <div class="icon" [ngStyle]="{'color': musician?.color}"></div>
      <img src="assets/images/icons/Head2.svg" alt="" class="image">
      <input *ngIf="currentPentagram.musicians?.length > 2" (click)="changeSelectedMusicianIndex()" type="radio" class="sidebar-checkbox primary" [id]="'m'+itemIndex" [checked]="isSelected">
      <label [for]="'m'+itemIndex"></label>
      <div class="name" [attr.title]="getMusician()" translate
      [translateParams]="{ value: musician?.id }">sidebar.musicians.musician</div>
  </div>
  <div class="sidebar__body__music__item__actions">
      <div (click)="toggleMute(musician)" [ngClass]="musician?.mute ? 'mute': 'unmute'"></div>
      <div (click)="removeMusician()" class="delete"></div>
  </div>
</div>
