<div class="tabs" [ngClass]="class">
  <div class="tabs__left">
    <a *ngFor="let tab of leftTabs"
      [routerLink]="tab.link"
      routerLinkActive="active"
      queryParamsHandling="preserve"
      [class]="tab.class"
      [class.disabled]="!!tab.disabled"
      [translate]="tab.key"
      (click)="selectTab.emit(tab)"
    ></a>
  </div>
  <div class="tabs__right">
    <a *ngFor="let tab of rightTabs"
      [routerLink]="tab.link"
      routerLinkActive="active"
      queryParamsHandling="preserve"
      [class]="tab.class"
      [class.disabled]="!!tab.disabled"
      [translate]="tab.key"
      (click)="selectTab.emit(tab)"
    ></a>
  </div>
</div>
