<form [formGroup]="form" (submit)="onSubmitted()">
  <div class="fields">
    <app-input-password-field [id]="'password'" [form]="form" [controlName]="'password'"
      [key]="'auth.resetPassword.password'"></app-input-password-field>
    <app-input-password-field [id]="'password'" [form]="form" [controlName]="'repeatPassword'"
      [key]="'auth.resetPassword.repeatPassword'"></app-input-password-field>
    <button type="submit" [disabled]="form.invalid" class="button button-secondary register" translate>
      auth.resetPassword.button
    </button>
    <div class="fields__link">
      <a [routerLink]="['/login']" translate>auth.resetPassword.back</a>
    </div>
  </div>
</form>
