<form [formGroup]="form">
  <div class="row">
    <div class="column-1">
      <app-select-field
        [id]="'type'"
        [controlName]="'type'"
        [key]="'sidebar.planks.add.form.type'"
        [form]="form"
        [options]="soundTypeOptions"
        [class]="'field'"
      ></app-select-field>
    </div>
    <div class="column-1">
      <app-select-field
        [id]="'note'"
        [controlName]="'note'"
        [key]="'sidebar.planks.add.form.note'"
        [form]="form"
        [options]="soundNoteOptions"
        [class]="'field'"
      ></app-select-field>
    </div>
    <div class="column-1">
      <label [for]="color">
        {{ 'sidebar.planks.add.form.color' | translate }}
        <span class="required"></span>
      </label>
      <input
          [(colorPicker)]="color"
          [style.background]="color"
          (colorPickerChange)="onChangeColor($event)"
          type="text"
          class="form-control"
          id="plank-color-id"
        />
    </div>
  </div>
</form>
