<header class="header">
    <div  class="header__numbers">
            <div *ngFor="let number of times" class="header__numbers__item">
                <div class="number">{{number}}</div>
                <div class="line"></div>
            </div>
    </div>
</header>


<div class="player">
    <div
      class="player__section"
      (mousemove)="onMouseMove($event)"
      (mouseout)="mouseBeatLeave()"
      (click)="addNote($event)"
    >
        <div class="v-lines">
          <ng-container
            *ngFor="let benefit of steps; index as i"
          >
            <div [ngClass]="['v-line', (i % currentPentagram.config.beatsPerCompass === 0 ) ? 'color' : '']"></div>
          </ng-container>
        </div>

          <div class="h-lines">
            <dts-select-container
                  #container="dts-select-container"
                  [(selectedItems)]="selectedBeats"
                  [selectOnClick]="false"
                  [dragOverItems]="true"
                  [disabled]="!shiftPressed"
                >
            <div class="h-line-block"
              *ngFor="let plank of currentPentagram.planks; let plankIndex = index"
              [id]="'l'+plankIndex"
              [ngClass]="{'active': plankIndex + 1 === selectedPlankIndex}"
              [ngStyle]="{'margin-bottom': plankMargin+'px'}"
              cdkDropList
              cdkDropListConnectedTo="currentPentagram.beats"
              (cdkDropListDropped)="dropNotes($event)"
            >
              <div
                  class="h-line"
                  [ngStyle]="{'background-color': plank?.color}"
                >
                  <div
                    *ngIf="beatGhost && beatGhost.plank === plank.id"
                    [ngClass]="beatGhost.isUp ? 'rectangle-top' : 'rectangle-bottom'"
                    [ngStyle]="{
                      'left': 'calc(' + (beatGhost.time * 100 / currentPentagram.config.duration) + '%' + ' - 0.25rem)',
                      'background-color': beatGhost.color,
                      'height': (beatGhost.hitStrength ? (beatGhost.hitStrength * defaultBeatHeight) / 100 : defaultBeatHeight ) + 'rem',
                      'opacity': '.5',
                      'z-index': -1
                    }"
                  >
                  </div>

                  <ng-container
                    *ngFor="let beat of currentPentagram.beats"
                  >
                    <div
                        *ngIf="beat.plank === plank.id"
                        [ngClass]="beat.isUp ? 'rectangle-top' : 'rectangle-bottom'"
                        [ngStyle]="{
                          'left': 'calc(' + (beat.time * 100 / currentPentagram.config.duration) + '%' + ' - 0.25rem)',
                          'background-color': beat.color,
                          'height': (beat.hitStrength ? (beat.hitStrength * defaultBeatHeight) / 100 : defaultBeatHeight ) + 'rem',
                          'opacity': isMuted(beat.musician) ? '.5' : '1'
                        }"
                        [dtsSelectItem]="beat"
                        (click)="deleteNote(beat)"
                        cdkDrag
                        cdkDragLockAxis="x"
                        [cdkDragDisabled]="getIsSelectedItem(beat)"
                    >
                    </div>
                  </ng-container>
              </div>
            </div>
          </dts-select-container>
          </div>


        <div class="reproduction-line" [ngStyle]="{'transform': 'scaleX('+currentSongPoint+')', 'transform-origin': 'left'}"></div>
      </div>
</div>

