<ngx-file-drop (onFileDrop)="onFileDropped($event)" customstyle="">
  <label
    [for]="id"
    class="file"
    *ngIf="control?.value?.name; else description"
  >{{ control?.value?.name }}<span class="required" *ngIf="hasRequiredField(control)"></span></label>
  <ng-template #description>
    <label [for]="id" class="file" translate>shared.forms.file.description</label>
  </ng-template>
</ngx-file-drop>
<div [formGroup]="form">
  <input type="hidden" [formControlName]="controlName">
</div>
<input
  #fileInput
  type="file"
  [id]="id"
  [ngClass]="class"
  [accept]="acceptedExtensions"
  (change)="onFileChange()"
>
