<div class="sidebar__body__footer">
  <div class="sidebar__body__footer__options">
    <div class="sidebar__section__header footer">
        <div class="title">{{ 'sidebar.footer.settings.title' | translate }}</div>
        <div (click)="toggleHide()" class="action-arrow">
          {{ (isHidden ? 'sidebar.footer.settings.showMore' : 'sidebar.footer.settings.showLess') | translate }}
        </div>
    </div>
    <div class="sidebar__section__header footer">
      <div class="subtitle">{{ 'sidebar.footer.settings.rhythmicalWeight' | translate }}</div>
      <span>{{ currentPentagram?.config?.rhythmicalWeight }}</span>
    </div>
    <div class="sidebar__body__footer__options__action">
      <input
        #rhythmicalWeightRange
        type="range"
        id="rhythmical-weight-range"
        [min]="rangeStepsAndLimits.rhythmicalWeight.min"
        [max]="rangeStepsAndLimits.rhythmicalWeight.max"
        [step]="rangeStepsAndLimits.rhythmicalWeight.step"
        [value]="currentPentagram?.config?.rhythmicalWeight"
        (change)="changeRhythmicalWeightRange(rhythmicalWeightRange.value)"
      >
    </div>
  </div>

  <div class="sidebar__body__footer__options" id="configFix">
    <div class="sidebar__section__header footer">
        <span class="button button-secondary button-xsmall" (click)="fixToGrill()">{{ 'sidebar.footer.settings.fixToGrill' | translate }}</span>
    </div>
  </div>

  <div class="sidebar__body__footer__options" id="config1">
    <div class="sidebar__section__header footer">
        <div class="subtitle">{{ 'sidebar.footer.settings.beatsPerCompass' | translate }}</div>
        <span>{{ currentPentagram?.config?.beatsPerCompass }}</span>
    </div>
    <div class="sidebar__body__footer__options__action">
      <input
        #beatsPerCompass
        type="range"
        id="beats-per-compass-range"
        [min]="rangeStepsAndLimits.beatsPerCompass.min"
        [max]="rangeStepsAndLimits.beatsPerCompass.max"
        [step]="rangeStepsAndLimits.beatsPerCompass.step"
        [value]="currentPentagram?.config?.beatsPerCompass"
        (change)="changeBeatsPerCompassRange(beatsPerCompass.value)"
      >
    </div>
  </div>

  <div class="sidebar__body__footer__options" id="config2">
    <div class="sidebar__section__header footer">
        <div class="subtitle">{{ 'sidebar.footer.settings.hitStrength' | translate }}</div>
        <span>{{ currentHitStrength }}</span>
    </div>
    <div class="sidebar__body__footer__options__action">
      <input
        #hitStrength
        type="range"
        id="hit-strength-range"
        [min]="rangeStepsAndLimits.hitStrength.min"
        [max]="rangeStepsAndLimits.hitStrength.max"
        [step]="rangeStepsAndLimits.hitStrength.step"
        [value]="currentHitStrength"
        (change)="changeHitStrengthRange(hitStrength.value)"
      >
    </div>
  </div>

  <div class="sidebar__body__footer__options" [ngClass]="{'hide': isHidden}" id="config3">
    <div class="sidebar__section__header footer">
      <div class="subtitle">{{ 'sidebar.footer.settings.startOfPlayback' | translate }}</div>
      <span>{{ currentStartOfPlaybackPercent }} %</span>
    </div>
    <div class="sidebar__body__footer__options__action">
      <input
        #startOfPlayback
        type="range"
        id="start-of-playback"
        [min]="rangeStepsAndLimits.startOfPlayback.min"
        [max]="rangeStepsAndLimits.startOfPlayback.max"
        [step]="rangeStepsAndLimits.startOfPlayback.step"
        [value]="currentStartOfPlaybackPercent"
        (change)="changeStartOfPlaybackPercent(startOfPlayback.value)"
      >
    </div>
  </div>

  <div class="sidebar__body__footer__options" [ngClass]="{'hide': isHidden}" id="config4">
    <div class="sidebar__section__header footer">
      <div class="subtitle">{{ 'sidebar.footer.settings.speed' | translate }}</div>
        <span>x{{ currentSpeed }}</span>
    </div>
    <div class="sidebar__body__footer__options__action">
      <input
        #speed
        type="range"
        id="speed"
        [min]="rangeStepsAndLimits.speed.min"
        [max]="rangeStepsAndLimits.speed.max"
        [step]="rangeStepsAndLimits.speed.step"
        [value]="currentSpeed"
        (change)="changeSpeed(speed.value)"
      >
    </div>
  </div>

  <div class="sidebar__body__footer__options" [ngClass]="{'hide': isHidden}" id="config5">
    <div class="sidebar__section__header footer">
        <div class="subtitle" (click)="toggleEditDurationMode()">{{ 'sidebar.footer.settings.duration' | translate }}</div>
        <span *ngIf="!editDurationMode" (click)="toggleEditDurationMode()">{{ currentPentagram?.config?.duration / 1000 }} s</span>
        <input
          #duration
          id="duration"
          [ngStyle]="{'display': !editDurationMode ? 'none' : 'inherit' }"
          type="number"
          [min]="rangeStepsAndLimits.duration.min"
          [max]="rangeStepsAndLimits.duration.max"
          [step]="rangeStepsAndLimits.duration.step"
          [value]="currentPentagram?.config?.duration / 1000"
          (change)="changeDuration(duration.value)"
          (keydown.enter)="onCloseEdit()"
        >
    </div>
  </div>
</div>
