<main id="page-login">
  <section id="page-login">
    <div class="image">
      <div class="background-overlay">
        <img src="/assets/images/background.png" alt="" class="bg" />
        <img src="/assets/images/background-lines.png" alt="" class="lines" />
      </div>
      <div class="image__content">
        <img class="logo" src="/assets/images/Logo-white.svg" alt="" />
        <div class="description" translate>auth.login.subtitle</div>
      </div>
    </div>
    <div class="form">
        <app-register-form (register)="onRegister($event)"></app-register-form>
    </div>
  </section>
</main>
