<div class="sidebar">
  <!-- Header -->
  <app-sidebar-header></app-sidebar-header>

  <!-- Body -->
  <div class="sidebar__body">
      <div cdkDropList class="sidebar__body__music drag-list" (cdkDropListDropped)="dropMusician($event)">
          <div class="sidebar__section__header">
              <div class="title" [attr.title]="'sidebar.musicians.title' | translate" translate>sidebar.musicians.title</div>
              <div *ngIf="!hasReachMusicianLimit" (click)="openAddMusicianModal()" class="action-add" translate>sidebar.add</div>
          </div>
          <app-sidebar-musician-item
            class="drag-box"
            *ngFor="let musician of currentPentagram.musicians; index as i"
            [itemIndex]="i"
            [musician]="musician"
            [playingSide]="musician.playingSide"
            cdkDrag
          ></app-sidebar-musician-item>
      </div>
      <div cdkDropList class="sidebar__body__plank drag-list" (cdkDropListDropped)="dropPlank($event)">
          <div class="sidebar__section__header">
              <div class="title" [attr.title]="'sidebar.planks.title' | translate" translate>sidebar.planks.title</div>
              <div *ngIf="!hasReachPlankLimit" (click)="openAddPlankModal()" class="action-add" translate>sidebar.add</div>
          </div>
          <app-sidebar-plank-item
            class="drag-box"
            *ngFor="let plank of currentPentagram.planks; index as i"
            [itemIndex]="i"
            [plank]="plank"
            cdkDrag
          ></app-sidebar-plank-item>
      </div>

      <app-sidebar-add-plank
        (save)="onAddPlank($event, addPlankModal)"
      ></app-sidebar-add-plank>

      <app-sidebar-add-musician
        (save)="onAddMusician($event, addMusicianModal)"
      ></app-sidebar-add-musician>

      <app-sidebar-player></app-sidebar-player>

      <app-sidebar-footer></app-sidebar-footer>
  </div>
  <!-- /Body -->

  <!-- Footer -->

</div>
