<form [formGroup]="form" (submit)="onSubmit()">
  <div class="fields">
    <div class="field">
      <app-input-email-field [id]="'email'" [form]="form" [controlName]="'email'" [key]="'auth.login.email'">
      </app-input-email-field>
    </div>
    <div class="field">
      <button type="submit" class="button button-secondary register" [disabled]="form.invalid" translate>auth.recoverPassword.button</button>
    </div>
    <div class="fields__link">
      <a [routerLink]="['/login']">Volver</a>
    </div>
  </div>
</form>
