<footer class="main-footer">
  <div class="main-footer__section">
      <div (click)="onNewPentagram()" class="button button-border">
        {{ 'dashboard.footer.new.title' | translate }}
      </div>
      <div (click)="openLoadPentagramModal()" class="button button-border">
        {{ 'dashboard.footer.load.title' | translate }}
      </div>
      <a #download (click)="downloadPentagram()" class="button button-border">
        {{ 'dashboard.footer.download.title' | translate }}
      </a>
      <a (click)="openImportPentagramModal()" class="button button-border">
        {{ 'dashboard.footer.import.title' | translate }}
      </a>
  </div>
  <div class="main-footer__section">
      <div class="main-footer__section__actions">
          <div [class.disabled]="!canUndo ? 'disabled' : null" (click)="undo()" class="prev icon--prev"></div>
          <div [class.disabled]="!canRedo ? 'disabled' : null" (click)="redo()" class="next icon--next"></div>
          <div (click)="openSavePentagramModal()" class="button button-secondary">
            {{ 'dashboard.footer.save.title' | translate }}
          </div>
          <button (click)="changeLanguage('es')">
            <span class="language" [class.active]="currentLanguage === 'es'" translate>common.languages.spanish</span>
          </button>
          <button (click)="changeLanguage('eu')">
            <span class="language" [class.active]="currentLanguage === 'eu'" translate>common.languages.basque</span>
          </button>
          <div [routerLink]="['/logout']" class="logout icon--logout"></div>
      </div>
  </div>
</footer>

<app-save-pentagram
  (save)="onSavePentagram($event, savePentagramModal)"
>
</app-save-pentagram>

<app-load-pentagram
  (save)="onLoadPentagram($event, loadPentagramModal)"
>
</app-load-pentagram>

<app-import-pentagram
  (save)="onImportPentagram($event, importPentagramModal)"
>
</app-import-pentagram>
