<div class="sidebar__body__plank__options">
    <div class="sidebar__body__plank__options__item">
        <div class="sidebar__body__plank__options__item__content" [ngClass]="{'active': isSelected}">
            <div class="icon--table" [ngStyle]="{'color': plank?.color}"></div>
            <input (click)="changeSelectedPlankIndex()" type="radio" class="sidebar-checkbox secondary" [id]="'p'+itemIndex"  [checked]="isSelected">
            <label [for]="'p'+itemIndex"></label>
            <span>{{getPlank()}}</span>
        </div>
        <div class="sidebar__body__plank__options__item__actions">
          <div (click)="removePlank()" class="plank-delete"></div>
      </div>
    </div>
</div>
