<main id="page-login">
  <section id="page-login">
    <div class="image">
      <div class="background-overlay">
        <img src="/assets/images/background.png" alt="" class="bg" />
        <img src="/assets/images/background-lines.png" alt="" class="lines" />
      </div>
      <div class="image__content">
        <img class="logo" src="/assets/images/Logo-white.svg" alt="" />
      </div>
    </div>
    <div class="form">
        <app-login-form (login)="onLogin($event)"></app-login-form>
    </div>
  </section>
</main>
