<div class="form__content">
  <h2 class="title" translate>auth.register.title</h2>
  <p class="info" translate>auth.register.info</p>
  <form [formGroup]="form" (submit)="onSubmit()">
  <div class="fields">
    <app-input-email-field
    [id]="'email'"
    [form]="form"
    [controlName]="'email'"
    [key]="'auth.register.email'"
  ></app-input-email-field>
  <app-input-password-field
    [id]="'password'"
    [form]="form"
    [controlName]="'password'"
    [key]="'auth.register.password'"
  ></app-input-password-field>
  <app-input-password-field
  [id]="'password'"
  [form]="form"
  [controlName]="'repeatPassword'"
  [key]="'auth.register.repeatPassword'"
></app-input-password-field>
    <button
      type="submit"
      [disabled]="form.invalid"
      class="button button-secondary register"
      translate>
      auth.register.button
    </button>
    <div class="fields__link">
      <a [routerLink]="['/login']" translate>auth.register.gotAccount <span translate>auth.register.clickHere</span></a>
    </div>
  </div>
</form>
</div>
