<div class="form__section-title" translate>dashboard.settings.theme.title</div>
<form [formGroup]="form" (submit)="onSubmit()">
  <app-input-password-field
    [id]="'password'"
    [form]="form"
    [controlName]="'password'"
    [key]="'dashboard.settings.security.password'"
  ></app-input-password-field>
  <app-input-password-field
    [id]="'passwordRepeat'"
    [form]="form"
    [controlName]="'passwordRepeat'"
    [key]="'dashboard.settings.security.passwordRepeat'"
  ></app-input-password-field>
  <div class="form__actions">
    <button type="button" class="button" (click)="reset()" translate>dashboard.settings.security.cancel</button>
    <button type="submit" [disabled]="form.invalid" class="button button-primary" translate>dashboard.settings.security.save</button>
  </div>
</form>
